/* custom properties SETUP */
:root {
    --clr-primary-200: #f3eed9;
    --clr-primary-400: #eadbff;

    --clr-neutral-100: #324158;
    --clr-neutral-1000: #ffffff;
    --clr-neutral-900: #730fff;

    --ff-primary: "Lato", sans-serif;
    --ff-accent: "Lato", serif;
  }
*,
*::before,
*::after {
  /* box-sizing: border-box; */
}

body {
  font-family: "Lato", sans-serif;
  font-weight: normal;
  font-size: 1.3125rem;
  line-height: 1.6;
  background-color: #730fff;
  margin:0;
}
p, li {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}
h1 {
    font-size: 40px;
    font-weight: 900;
}
h2 {
    font-size: 30px;
    font-weight: 900;
}
h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 700
}
h1,
h2,
h3 {
    /* color: var(--clr-primary-400); */
    font-family: var(--ff-accent);
    line-height: 1;
}
h2 {
    margin: 1em;
}
.txtHeader {
  text-align: center;
  margin-bottom: 60px;
}
img {
    display: block;
    /* images would stretch maximum to its original size on large screen and reduce on smaller screens */
    max-width: 100%;
    min-width: 20%;
    /* border-style: solid; */
    display: inline-flex;
    margin-top: 20px;
  }
  .logo {
    width: 65px;
    height: 65px;
    min-width: 65px;
    min-height: 65px;
    max-width: 65px;
    max-height: 65px;
  }
.text-center {
    text-align: center;
  }

header, section {
    padding: 2rem 0 3rem 0;
    @media (min-width: 40em) {
      header,
      section {
        padding: 7rem 0;
      }
    }
  }
  .container {
      /* margin-inline is left-right and margin-block is top-bottom */
    margin-inline: auto;
    /* same as setting min and max width */
    width: min(90%, 70.5rem);
  }

  .split {
      display: flex;
      flex-direction: column;
  }
  /* split into columns if width is larger than 480px */
  @media (min-width: 480px) {
      .split {
          flex-direction: row;
      }
      /* use this only if you want all colums of same width */
      .split > * {
        flex-basis: 100%;
      }
        /* add left margin only after the first column */
      .split > * + * {
        margin-left: 2em;
      }

  }
  .container--narrow {
    max-width: 50rem;
  }
  .headerLeft {
    float: left;
    width: 40%;
    /* border-style: solid; */
  }
  .headerRight {
    /* float: right; */
    display: flex;
    justify-content: flex-end;
    width: 60%;
    margin-top: 25px;
    /* border-style: solid; */
  }
  .header-link {
    display: inline;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-left: 30px;
    text-decoration: none;
  }
  .header-link:hover {
    text-decoration: underline;
  }
.bg-light {
    background-color: var(--clr-primary-200);
  }

.bg-primary {
    color: var(--clr-neutral-100);
    background-color: var(--clr-primary-400);
}

.bg-dark {
    color: var(--clr-neutral-1000);
    background-color: var(--clr-neutral-900);
}
.bg-primary h2{
    color: var(--clr-primary-100);
}
.bg-dark h2 {
    color: var(--clr-primary-1000);
    }
.bg-primary h3, .bg-dark h3 {
    color: var(--clr-primary-100);
    }
